.main{
    margin: 0;
    padding: 0;
    margin: auto;
    display: grid;
    height: 100vh;
    position: relative;
    .navbar{
        background-color: rgb(250, 250, 250);
        left: 0;
        width: 5%;
        bottom: 0;
    }
    .users-list{
        background-color: green;
        left: 5%;
        width: 20%;
        height: 100vh;
    }
    .main-content{
        background-color: #DAE0E6;
        height: 100%;
        overflow-y: auto;
    }
    .posts-list{
        background-color: orange;
        right: 0;
        height: 100vh;
        width: 25%;
    }
    .sticky{
        position: absolute;
        top: 0 !important;
    }
}
.home{
    width: 45%;
    position: relative;
    left: 28%;
    background-color: #DAE0E6;

}
.site-title{
    font-size: 2em;
    padding: .3em;
    margin: 0;
    color: rgb(97, 97, 97);
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid gray;
    position: sticky;
    top: 0;
    background-color: rgb(250, 249, 249);
}

.add-new-post{
    padding: 1em;
    margin: 1em 0;
    background-color: rgb(238, 238, 238);
    display: flex;
    input{
        flex: 1;
        width: 100%;
        border: 1px solid lightgray;
        border-radius: 1em;
        padding-left: 1em;
    }
    
    img{
        width: 35px;
        height: 35px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: .5em;
    }
}


app-navbar{
    width: 100%;
}