<nav>
    <a routerLink="/profile" routerLinkActive="router-link-active" >
        <img src="../../../assets/images/abdelhak-hamdouni-image.jpg" alt="abdelha hamdouni profile">
    </a>
    <a routerLink="" routerLinkActive="router-link-active" >
        <span class="fa fa-home"></span>
    </a>
    <a routerLink="/message" routerLinkActive="router-link-active" >
        <span class="far fa-comment"></span>
    </a>
    <a routerLink="" routerLinkActive="router-link-active" >
        <span class="fa fa-users"></span>
    </a>
    <a routerLink="/logout" routerLinkActive="router-link-active" >
        <span class="fas fa-sign-out-alt"></span>
    </a>
</nav>