<article class="post" data-id={{postId}}>
    <header class="post__header">
        <div class="post__header-details">
            <img src={{post.avatar}} alt="">
            <div class="metadata">
                <span class="author">{{post.author}}</span>
                <span class="date">{{post.createdAt | date:'medium':'+0200':'fr'}}</span>
                <span class="autre"></span>
            </div>
        </div>
        <div class="post__header-action">
            <span class="fa fa-ellipsis-h" (click)="toggleMenu('post_'+post.id)"></span>
            <ul class="menu" [class]="'post_' + post.id">
                <li><span class="fa fa-info"></span>Information</li>
                <li><span class="fa fa-edit"></span>Modifier</li>
                <li><span class="fa fa-trash"></span>Supprimer</li>
                <li><span class="fa fa-eye-slash"></span>Masquer</li>
                <li><span class="fa fa-exclamation-triangle"></span>Signaler</li>
            </ul>
        </div>
    </header>
    <div class="post__body">
        <div [innerHtml]="post.description"></div>
        <img *ngIf="!post.image.includes('null')" src={{post.image}} alt={{post.title}} >
    </div>
    <footer class="post__footer">
        <div class="post__footer-actions">
            <span class="fas fa-thumbs-up"></span>
            <span class="fa fa-comment-alt"></span>
        </div>
        <div class="post__footer-comment" >
            <input type="text" placeholder="Ecrire un commentaire ..." name="comment" [id]="'post '+post.id">
        </div>
    </footer>
</article>
